<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InternetBanking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.internetbanking.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.internetbanking.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationServlet</display-name>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>com.internetbanking.servlet.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchRegisterUserDetails</display-name>
    <servlet-name>FetchRegisterUserDetails</servlet-name>
    <servlet-class>com.internetbanking.servlet.FetchRegisterUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchRegisterUserDetails</servlet-name>
    <url-pattern>/FetchRegisterUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenUserAccount</display-name>
    <servlet-name>OpenUserAccount</servlet-name>
    <servlet-class>com.internetbanking.servlet.OpenUserAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenUserAccount</servlet-name>
    <url-pattern>/OpenUserAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NetBankingRegistrationServlet</display-name>
    <servlet-name>NetBankingRegistrationServlet</servlet-name>
    <servlet-class>com.internetbanking.servlet.NetBankingRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetBankingRegistrationServlet</servlet-name>
    <url-pattern>/NetBankingRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchNetBankingDetailsServlet</display-name>
    <servlet-name>FetchNetBankingDetailsServlet</servlet-name>
    <servlet-class>com.internetbanking.servlet.FetchNetBankingDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchNetBankingDetailsServlet</servlet-name>
    <url-pattern>/FetchNetBankingDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerDetails</display-name>
    <servlet-name>DeleteCustomerDetails</servlet-name>
    <servlet-class>com.internetbanking.servlet.DeleteCustomerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerDetails</servlet-name>
    <url-pattern>/DeleteCustomerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerProfile</display-name>
    <servlet-name>UpdateCustomerProfile</servlet-name>
    <servlet-class>com.internetbanking.servlet.UpdateCustomerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerProfile</servlet-name>
    <url-pattern>/UpdateCustomerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNetbankingDetails</display-name>
    <servlet-name>DeleteNetbankingDetails</servlet-name>
    <servlet-class>com.internetbanking.servlet.DeleteNetbankingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNetbankingDetails</servlet-name>
    <url-pattern>/DeleteNetbankingDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchOpenedAccountDetails</display-name>
    <servlet-name>FetchOpenedAccountDetails</servlet-name>
    <servlet-class>com.internetbanking.servlet.FetchOpenedAccountDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchOpenedAccountDetails</servlet-name>
    <url-pattern>/FetchOpenedAccountDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeactivateOpenedAccount</display-name>
    <servlet-name>DeactivateOpenedAccount</servlet-name>
    <servlet-class>com.internetbanking.servlet.DeactivateOpenedAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeactivateOpenedAccount</servlet-name>
    <url-pattern>/DeactivateOpenedAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferMoneyServlet</display-name>
    <servlet-name>TransferMoneyServlet</servlet-name>
    <servlet-class>com.internetbanking.servlet.TransferMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferMoneyServlet</servlet-name>
    <url-pattern>/TransferMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchTransactionDetails</display-name>
    <servlet-name>FetchTransactionDetails</servlet-name>
    <servlet-class>com.internetbanking.servlet.FetchTransactionDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchTransactionDetails</servlet-name>
    <url-pattern>/FetchTransactionDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTransactionDetails</display-name>
    <servlet-name>DeleteTransactionDetails</servlet-name>
    <servlet-class>com.internetbanking.servlet.DeleteTransactionDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTransactionDetails</servlet-name>
    <url-pattern>/DeleteTransactionDetails</url-pattern>
  </servlet-mapping>
</web-app>